:root {
--Primary-Brand: #4D5AE5;
--Pressed-state: #404BBF;
--dark-NAVY-BLUE: #2E2F42;
--Success: #31D0AA;
--Text: #434455;
--Subtle-Text: #8E8F99;
--Accent: #E7E9FC;
--Light: #F4F4FD;
--Modal-overlay: #2E2F4266;
--Hero-background: #2E2F42B2;
--White-background: #FFFFFF;
--Modal-background: #FCFCFC;

}

body {
    font-family: Roboto, sans-serif;
color: var(--Text) ;
background-color: var(--White-background)
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.link-logo {
    color: var(--dark-NAVY-BLUE);
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase; 
}

.link-logo .accent {
    color: var(--Primary-Brand)
}

.menu-navigation a {
    color: var(--dark-NAVY-BLUE);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contacts a {
    color: var(--Text) ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

/* section1 */

.hero {
    color: var(--white, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1.12px;
background: var(--navyblue, #2E2F42);
}

.button {
    
}